<ion-header>

	<ion-navbar>
		<ion-title>Blocked</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="blocked-list-wrapper" *ngIf="blockedNeighbours.length > 0">
		<ion-list no-lines>
			<div *ngFor="let neighbour of blockedNeighbours">
				<ion-list-header>Blocked Neighbours</ion-list-header>
				<ion-item tappable (tap)="blockNeighbour(neighbour)">
					<ion-avatar item-start>
						<img src="{{ neighbour.profileurl }}">
					</ion-avatar>
		
					<p>{{ neighbour.firstName }} {{ neighbour.lastName }}</p>
				</ion-item>
			</div>
		</ion-list>
	</div>
	<div class="add-new">
		<ion-list no-lines>
			<ion-list-header></ion-list-header>
			<ion-item (click)="addBlockedUser()">
				<ion-label>Add New...</ion-label>
			</ion-item>
			<p class="msg">
				Blocked contacts will no longer be able to call you or send you messages.
			</p>
		</ion-list>
	</div>
</ion-content>