<ion-header>

	<ion-navbar>
		<ion-title>Blocked</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="add-new">
		<ion-list no-lines>
			<ion-item (click)="addBlockedUser()">
				<ion-label>Add New...</ion-label>
			</ion-item>
			<p class="msg">
				Blocked contacts will no longer be able to call you or send you messages.
			</p>
		</ion-list>
	</div>

	<div class="blocked-list-wrapper" *ngIf="blockedNeighbours.length > 0">
		<ion-list no-lines>
			<div *ngFor="let neighbour of blockedNeighbours">
				<ion-item-sliding>
					<ion-item>
						<ion-avatar item-start>
							<img src="{{ neighbour.profileurl }}">
						</ion-avatar>
						<p>{{ neighbour.firstName }} {{ neighbour.lastName }}</p>
					</ion-item>

					<ion-item-options side="right">
						<button ion-button color="secondary" (tap)="unblockNeighbour(neighbour)">Unblock</button>
					</ion-item-options>
				</ion-item-sliding>
				
			</div>
		</ion-list>
	</div>
</ion-content>