page-blocked-users-list {
    .blocked-list-wrapper {
        ion-list-header {
            ion-label {
                margin-bottom: 0;
                color: gray;
                text-align: center;
            }
        }
    }

    .add-new {
       ion-label {
          color: color($colors, secondary);
       }

       .msg {
          color: gray;
          font-size: 0.8em;
       }
    }
}