<ion-header>

  <ion-navbar>
    <ion-title>MESSAGES</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div *ngIf="chats.length > 0">
		<ion-list class="firstitem">
			<ion-item *ngFor="let chat of chats" (click)="goToChatPage(chat)">
				<ion-avatar item-start>
					<img src="{{ chat.receiverData.profileurl }}">
				</ion-avatar>
				<h5>{{ chat.receiverData.firstName }} {{ chat.receiverData.lastName }}</h5>
				<p>{{ chat.lastMsg }}</p> {{chat.status}}
			</ion-item>
		</ion-list>
	</div>	
	<div *ngIf="chats.length == 0">
		<div class="firstitem" text-center>
			<h5>No Conversations</h5>
		</div>
	</div>
</ion-content>
