<ion-header>

  <ion-navbar>
    <ion-title>MY NEIGHBOURS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="firstitem">
    <div *ngFor="let user of users">
    <button ion-item *ngIf="user.userType == 'renting'" (click)="goToNeighbour(user)">
      <!-- <div *ngIf="user.uid != userId"> -->
       
      {{user.firstName}} {{user.lastName}} <span class="spanclass">Unit {{user.unit}}</span>
     </button>
      <button ion-item *ngIf="user.userType == 'owner'" (click)="goToNeighbour(user)">
        <!-- <div *ngIf="user.uid != userId"> -->
      
        {{user.firstName}} {{user.lastName}}
        <span class="spanclass">Unit {{user.unit}}</span>
      </button>
    </div>
  </ion-list>
  <ion-list style="margin-top:-25px !important">
    
    <div *ngFor="let user of users">
      <ion-list-header style="margin-top:-15px; text-align:center" *ngIf="user.userType == 'business'">
        Local Businesses
      </ion-list-header>
      
      <button ion-item *ngIf="user.userType == 'business'" (click)="goToBusiness(user)">
      
        {{user.firstName}} {{user.lastName}}
        <span class="spanclass">{{user.name}}</span>
      
      </button>
    </div>
  </ion-list>

</ion-content>
