<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167187753572-22707hip0ahnlnpjtm5crbi6nlvff143.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167187753572-22707hip0ahnlnpjtm5crbi6nlvff143</string>
	<key>API_KEY</key>
	<string>AIzaSyAXAsdaQ63DD8F6r-UiViCMhD0z3Ah5z_w</string>
	<key>GCM_SENDER_ID</key>
	<string>167187753572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apt.vuetower</string>
	<key>PROJECT_ID</key>
	<string>vue-admin-85ef1</string>
	<key>STORAGE_BUCKET</key>
	<string>vue-admin-85ef1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167187753572:ios:66046e43fec5e403</string>
	<key>DATABASE_URL</key>
	<string>https://vue-admin-85ef1.firebaseio.com</string>
</dict>
</plist>