page-new-service-request {
    .div-padding {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
    }
    .service-pic{
        font-size: 2.5em;
        padding:0px;
    }
}