<ion-header>

  <ion-navbar>
    <ion-title>NEWS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="secondary" (click)="addNews()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" [showCancelButton]="shouldShowCancel" (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)"></ion-searchbar>
  <ion-list no-lines>
    <ion-item *ngFor="let new of news" class="itemstyle">
      <div (click)="newsDetails(new)">
        <ion-row align-items-start>
          <ion-col col-2>
            <ion-avatar item-start>
              <img [src]=new.profileurl>
            </ion-avatar>
          </ion-col>
          <ion-col col-10>
            <ion-row>
              <ion-col col-10>
                <h5>{{new.firstName}} {{new.lastName}}</h5>
                <span class="newsspan">Unit {{new.unit}}</span>

              </ion-col>
              <ion-col col-2>
                <span class="newsspan">
                  {{new.time}}
                </span>
              </ion-col>
            </ion-row>



          </ion-col>

        </ion-row>
        <ion-row>
          <p style="white-space:normal " class="elipsis">{{new.news}}</p>
        </ion-row>
        <div text-center *ngIf="new.newspic != 'Default'" style="padding-top:1em">
          <img [src]=new.newspic />
        </div>
      </div>

      <div style="padding-top:1em" *ngIf="new.custNewsData">
        <p>{{new.custNewsData.likesNumber}}
          <span *ngIf="new.custNewsData.likesNumber == 1">like ,</span>
          <span *ngIf="new.custNewsData.likesNumber > 1">likes ,</span><span *ngIf="new.custNewsData.commentsNumber">{{new.custNewsData.commentsNumber}}</span>
          <span *ngIf="new.custNewsData.commentsNumber == 1">comment</span>
          <span *ngIf="new.custNewsData.commentsNumber > 1">comments</span>
        </p>
      </div>


      <div *ngIf="new.custNewsData">
        <div class="divider">
          <!-- <p class="newsspan2">Like</p> -->
        </div>
        <ion-item no-lines style="padding-left:0px !important">
          <ion-avatar item-start style="min-width:0px !important;min-height:0px !important;" *ngIf="new.custNewsData.lastComment.profileurl">
            <img style="width:28px;height:28px" [src]=new.custNewsData.lastComment.profileurl>
          </ion-avatar>
          <h6 style="font-size:0.7em">
            {{new.custNewsData.lastComment.firstName}} {{new.custNewsData.lastComment.lastName}}
          </h6>
          <p class="newsspan2" style="white-space:normal">{{new.custNewsData.lastComment.comment}}</p>
        </ion-item>
      </div>
      <div class="divider">
        <!-- <p class="newsspan2">Like</p> -->
      </div>
      <ion-row>
        <ion-col col-2 style="text-align:left">
          <p class="newsspan2" tappable (tap)="removeLike(new)" *ngIf="new.postLiked" style="color: blue">Liked</p>

          <p class="newsspan2" tappable (tap)="addLike(new)" *ngIf="!new.postLiked">Like</p>
          <!-- <div *ngIf="new.custNewsData.likes"  *ngIf="!new.postLiked">
              <div *ngFor="let like of new.custNewsData.likes">
                <p *ngIf="like.uId == userId" class="likedclass">Liked</p>
              </div>
           </div> -->


          <!-- <p class="liked">Liked</p> -->
        </ion-col>
        <ion-col col-3 style="text-align:left" tappable (tap)="newsDetails(new)">
          <p class="newsspan2">Comment</p>
        </ion-col>
        <ion-col col-3 style="text-align:left" tappable (tap)="goToMessage(new)" *ngIf="userId != new.uId">
          <p class="newsspan2">Message</p>
        </ion-col>
      </ion-row>


      <!-- 
         <ion-row *ngIf="new.custNewsData">
           <p>{{new.custNewsData.lastComment.comment}}</p>
         </ion-row>
       -->
    </ion-item>
  </ion-list>

</ion-content>
