
<ion-header>

 <ion-navbar hideBackButton>
  <ion-buttons start>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
 
   <ion-title>REGISTER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="signupFormBiz" novalidate>

    <ion-list class="firstitem">
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-avatar item-start (click)="uploadImage()">
                <img [src]='profileurl'>
             </ion-avatar>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input #firstName type="text" value="" formControlName="firstName" placeholder="First Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input #lastName type="text" value="" formControlName="lastName" placeholder="Last Name"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
    </ion-list>
    <ion-list>
      <ion-item>
            <ion-input #password formControlName="password" placeholder="Password" [(ngModel)]="user.pass" type="password" 
              [class.invalid]="!signupFormBiz.controls.password.valid && signupFormBiz.controls.password.dirty && returnInvalid" >
              </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="!signupFormBiz.controls.password.valid  && signupFormBiz.controls.password.dirty && returnInvalid">
        <p>Your password needs more than 6 characters.</p>
      </div>
    </ion-list>
    <ion-list>
      <ion-item>

        <ion-input #email formControlName="email" placeholder="Email" [(ngModel)]="user.email" type="email"
          [class.invalid]="!signupFormBiz.controls.email.valid && signupFormBiz.controls.email.dirty && returnInvalid" >
          </ion-input>
      </ion-item>
      <div class="error-message" *ngIf="returnInvalid">
        <p>{{errormessage}}</p>
      </div>
    </ion-list>
    <ion-list>
      <ion-item>

        <ion-input #unit formControlName="unit" placeholder="Business Name" [(ngModel)]="user.unit" type="text">
          </ion-input>
      </ion-item>

    
    </ion-list>

    
  </form>

</ion-content>
<ion-footer>
  <div class="buttonspadding">
        <button ion-button block type="submit" (click)="signupUser()">Sign up</button>
    </div>
  </ion-footer>


  <!-- (input)="clearErrors()" -->