page-register-business {
    .buttonspadding {
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-bottom: 4em !important;
    }
    .firstitem {
        margin-top: 1em;
    }
    ion-footer {
        background-color: #EFEFF4;
        border-top-color: #EFEFF4;
    }
    img {
        min-height: 72px;
        min-width: 72px;
    }
    .col {
        padding: 0px;
    }
    .error-message {
        color: red;
        font-size: 10px;
        text-align: left;
        padding-left: 16px;
    }
    textarea.text-input.text-input-ios {
        height: 60px;
    }
    ion-col {
        position: initial;
    }
    .passwordlabel {
        font-size:1em;
        padding-left:1.5em;
        color:#A1ABB6;
    }
}