page-signup {

	.scroll-content{
		background-color: #EFEFF4;
	}
	.splash{
		padding-top: 4em;
		padding-left:2.5em;
		padding-right:2.5em;
		padding-bottom: 2em;
		img{
			width:400px !important;
		}
	}
	.signupimage{
		padding-bottom: 3em;
	}
	.buttonspadding{
	
		margin-left:1.5em;
		margin-right:1.5em;
	}
	.singinbuttonspadding{
		margin-left:4em;
		margin-right:4em;
	}

}
